.events {
  .card {

    &:hover {
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }

    img {
      border-radius: 0.5rem;
    }
    
    .date {
      color: #877457;
    }
  }
}