// Personalizar Bootstrap (Siempre va antes de importar Bootstrap)
$red: #f34f51;
$green: #0098ae;
$dark: #212121;
$gray: #b5b5b5;

// Asignar colores personalizados a variables de Bootstrap

$primary: $red;
$secondary: $green;
$dark: $dark;

// Tipografía
$display-font-weight: 900;
$headings-font-weight: 700; 

// Cards
$card-border-color: transparent;

// Nav link
$nav-link-padding-x: 0;
$nav-link-color: $gray;
$nav-link-hover-color: $red;


// Importar Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap.scss";